body {
  height: 100%;
}

.hero {
  height: 100vh;

  background: url('../assets/images/ny.jpg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.caption {
  background-color: transparent;
  width: 100%;
}

.trip {
  display: none;
}

.images {
  width: 360px;
  height: 270px;
}

.flag {
  width: 75px;
  height: auto;
}

@media screen and (min-width: 576px) {
  .jumbotron {
    padding: 8rem 2rem;
  }
}


